@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyWebFont';
    src:  url('/fonts/simvoni.ttf') format('truetype');
    font-display: swap;
  }

.text-simvoni
{
    font-family: 'MyWebFont';
}